{% extends 'base.html' %}
{% block content %}
    <div class="media">
        <div class="media-body">
            {% if post.post_author != current_user %}
                <h3 class="article-title fw-bold text-break">{{ post.post_title }}</h3>
            {% else %}
                <div class="d-flex">
                    <h3 class="me-auto"> <a href="#" class="article-title fw-bold text-break">{{ post.post_title }}</a></h3>
                    <div class="dropstart">
                        <a href="#" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></a>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ post.post_id }}">Delete</button>
                        </div>
                        <div class="modal fade" id="deleteModal-{{ post.post_id }}" tabindex="-1">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal-{{ post.post_id }}Label">{{ post.post_title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">Are you sure you want to delete this post?</div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('posts.post_delete', post_id = post.post_id) }}" method="post">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>                            
                    </div>
                </div>                
            {% endif %}
            <p class="mb-2 article-content text-break">{{ post.post_content }}</p>
            <small class="text-muted" style="font-size: 0.8em;"> By <a href="{{ url_for('users_general.user', user_username = post.post_author.user_username) }}" class="article-author text-break">{{ post.post_author.user_username }}</a> on {{ datetime_tolocal(post.post_date_created_utc).strftime("%B %-d, %Y %I:%M %p") }}</small>
        </div>
    </div>
{% endblock content %}