html {
    font-size: 13px;
}

.article-title{
    text-decoration: None;
    color: #212529;
}

.article-author{
    text-decoration: None;
}

.page-nav{
    font-size: 0.8em;
}

.heading-sticky {
    position: sticky;
    top: 6rem;
}