# Directories
**/__pycache__/
/test/
/migrations/
/instance/
/admin/

# Files
.env
declutter/database/sqlite_database.db
reset_database.py
query_database.py
run_debug.py
sidebar_daily_quote.bin
main_debug.py
.space
Spacefile