{% extends 'base.html' %}
{% block content %}
    <div class="mb-2 mt-1 pb-3 heading-sticky bg-white">
        {% if current_user.user_isadmin == False %}
            <h3 class="mb-0 me-auto text-break fw-bold">{{ user.user_username }} </h3>
        {% else %}
            <div class="d-flex">
                <h3 class="mb-0 me-auto text-break fw-bold">{{ user.user_username }} </h3>
                <div class="btn-group dropstart">
                    <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <a href="{{ url_for('users_general.user_deleted_posts', user_username = user.user_username) }}" class="dropdown-item p-0 px-3">See deleted posts</a>
                    </ul>
                </div>
            </div>
        {% endif %}
        <small class="text-muted">Date joined: {{ datetime_tolocal(user.user_date_created_utc).strftime("%B %-d, %Y") }}</small>
    </div>
    {% if not posts.items %}
        <div class="d-flex justify-content-center opacity-75 mb-3">
            <div class="text-center">
                <h4 class="fw-semibold">No posts yet</h4>
                <p class="lead mb-4">{{ user.user_username }} haven't written anything yet as of date</p>
                <img src="{{ url_for('static', filename='images/empty.svg') }}" class="img-fluid w-50" alt="">
            </div>
        </div>
    {% else %}
        {% include '/layout/defined/post_list.html' %}
        <div class="d-flex justify-content-end">
            {% if posts.has_prev %}
                <a href="{{ url_for('users_general.user', user_username = user.user_username, page = posts.page - 1) }}"><i class="bi bi-caret-left-fill page-nav"></i></a>
            {% endif %}
            {% if posts.has_next %}
                <a href="{{ url_for('users_general.user', user_username = user.user_username, page = posts.page + 1) }}"><i class="ms-3 bi bi-caret-right-fill page-nav"></i></a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}