{% extends "base_errors.html" %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"><span class="text-danger">We're experiencing trouble <span class="text-danger">on our end</span></span></p>
            <img src="{{ url_for('static', filename='pages/errors/resources/images/error_image.svg') }}" alt="" class="img-fluid w-50 ms-3 ps-2 pt-3">
        </div>
    </div>
{% endblock content %}