{% extends 'base.html' %}
{% block content %}
    <h3 class="mb-4 fw-bold">About declutter</h3>
    <div class="ms-3">
        <legend class="mb-2 fw-semibold text-muted">What is declutter?</legend>
        <p class="ms-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi quisquam incidunt in dolorum consectetur et distinctio, voluptates non sunt, praesentium accusantium labore quasi reprehenderit, magni corporis laboriosam assumenda rerum temporibus?</p>
    </div>
    <div class="ms-3">
        <legend class="mb-2 fw-semibold text-muted">Who is this site for?</legend>
        <p class="ms-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi quisquam incidunt in dolorum consectetur et distinctio, voluptates non sunt, praesentium accusantium labore quasi reprehenderit, magni corporis laboriosam assumenda rerum temporibus?</p>
    </div>
    <div class="ms-3">
        <legend class="mb-2 fw-semibold text-muted">Who owns declutter?</legend>
        <p class="ms-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi quisquam incidunt in dolorum consectetur et distinctio, voluptates non sunt, praesentium accusantium labore quasi reprehenderit, magni corporis laboriosam assumenda rerum temporibus?</p>
    </div>
    

{% endblock content %}

