{% extends 'base.html' %}
{% block content %}
    <h3 class="mb-4 fw-bold">Home</h3>
    {% if not posts.items %}
        <div class="d-flex justify-content-center opacity-75 mb-3">
            <div class="text-center">
                <h4 class="fw-semibold">No posts yet</h4>
                <p class="lead mb-4">Write something and it'll show up here</p>
                <img src="{{ url_for('static', filename='images/empty.svg') }}" class="img-fluid w-50" alt="">
            </div>
        </div>
    {% else %}
        {% include '/layout/defined/post_list.html' %}
        <div class="d-flex justify-content-end">
            {% if posts.has_prev %}
                <a href="{{ url_for('main.home', page = posts.page - 1) }}"><i class="bi bi-caret-left-fill page-nav"></i></a>
            {% endif %}
            {% if posts.has_next %}
                <a href="{{ url_for('main.home', page = posts.page + 1) }}"><i class="ms-3 bi bi-caret-right-fill page-nav"></i></a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}