{% extends 'base.html' %}
{% block content %}
    <div class="media">
        <div class="media-body">
            <h4 class="article-title">{{ post.post_title }}</h4>
            <p class="mb-2 article-content">{{ post.post_content }}</p>
            <small class="text-muted" style="font-size: 0.8em;"> By <a href="#" class="article-author">{{ post.post_author.user_username }}</a> on {{ post.post_date.replace(tzinfo=pytz.UTC).astimezone(tz.tzlocal()).strftime("%B %-d, %Y %I:%M %p") }}</small>
        </div>
    </div>
{% endblock content %}