{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
        <h3 class="mb-0">{{ current_user.user_username }} </h3>
        <!-- <small class="text-muted">{{ post_count }} posts</small> -->
        <small class="text-muted">Date joined: {{ datetime_tolocal(current_user.user_date_created_utc).strftime("%B %-d, %Y") }}</small>
    </div>
    {% for post in posts %}
        <div class="media border-bottom mb-4 pb-4">
            <div class="media-body">
                <h4> <a href="{{ url_for('post', post_id = post.post_id) }}" class="article-title">{{ post.post_title }}</a></h4>
                <p class="mb-2 article-content">{{ post.post_content }}</p>
                <small class="text-muted" style="font-size: 0.8em;"> By <a href="#" class="article-author">{{ post.post_author.user_username }}</a> on {{ datetime_tolocal(post.post_date_created_utc).strftime("%B %-d, %Y") }}</small>
            </div>
        </div>
    {% endfor %}    
{% endblock content %}