{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
        <h3 class="mb-0">{{ current_user.user_username }} </h3>
        <!-- <small class="text-muted">{{ post_count }} posts</small> -->
        <small class="text-muted">Date joined: {{ datetime_tolocal(current_user.user_date_created_utc).strftime("%B %-d, %Y") }}</small>
    </div>
    {% for post in posts %}
        <div class="media border-bottom mb-4 pb-4">
            <div class="media-body">

                <div class="d-flex">
                    <h4 class="me-auto"> <a href="{{ url_for('post', post_id = post.post_id) }}" class="article-title">{{ post.post_title }}</a></h4>
                    <div class="dropstart">
                        <a href="#" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></a>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ post.post_id }}">Delete</button>
                        </div>
                        <div class="modal fade" id="deleteModal-{{ post.post_id }}" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModal-{{ post.post_id }}Label">{{ post.post_title }}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">Are you sure you want to delete this post?</div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                  <form action="{{ url_for('post_delete', post_id = post.post_id) }}" method="post">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>                            
                    </div>
                </div>

                <p class="mb-2 article-content">{{ post.post_content }}</p>
                <small class="text-muted" style="font-size: 0.8em;"> By <a href="#" class="article-author">{{ post.post_author.user_username }}</a> on {{ datetime_tolocal(post.post_date_created_utc).strftime("%B %-d, %Y") }}</small>
            </div>
        </div>
    {% endfor %}    
{% endblock content %}