<!-- Query by post content -->
<div class="ms-3">
    {% if query_by_post_content.items %}
        <legend class="mt-3 fw-semibold text-muted">Results by post content</legend>
    {% endif %}
    <div class="ms-2 list-group">
        {% for post in query_by_post_content.items %}
            <a href="{{ url_for('posts.post', post_id = post.post_id) }}" class="list-group-item list-group-item-action">
                <h5 class="pt-2 text-break text">{{ post.post_title }}</h5>
                <p class="mb-2 text-break">{{ post.post_content[:190] }}...</p>
                <small class="text-muted">{{ datetime_tolocal(post.post_date_created_utc).strftime("%B %-d, %Y") }}</small>
            </a>
        {% endfor %}
    </div>
    <div class="d-flex mt-2 justify-content-end">
        {% if request.args.get('by_post_title_page') %}
            <a href="{{ url_for('main.search', query = search_query) }}" class="text-decoration-none me-3"><small>Go back</small></a>
        {% endif %}                            
        {% if query_by_post_content.has_prev %}
            <a href="{{ url_for('main.search', query = search_query, by_post_content_page = query_by_post_content.page - 1) }}"><i class="bi bi-caret-left-fill page-nav"></i></a>
        {% endif %}
        {% if query_by_post_content.has_next %}
            <a href="{{ url_for('main.search', query = search_query, by_post_content_page = query_by_post_title.page + 1 ) }}"><i class="ms-3 bi bi-caret-right-fill page-nav"></i></a>
        {% endif %}
    </div>
</div>