{% extends 'base.html' %}
{% block content %}
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="heading-sticky bg-white mt-1">
            <h3 class="mb-4 fw-bold">Forgot password</h3>
        </div>
        <div class="ms-3">
            <div class="form-group mb-4">
                <div class="mb-2">
                    <span class="text-muted form-label fw-semibold">I remember my account by: </span>
                </div>
                <div class="form-group mb-2">
                    {% if form.user_input.errors %}
                        {{ form.user_input(class="form-control is-invalid", required=False, placeholder="Enter an email or username") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_input.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_input(class="form-control", required=False, placeholder="Enter an email or username") }}
                    {% endif %}
                </div>            
            </div>
    
            <div class="form-group">
                {{ form.forgot_password_submit(class="btn btn-primary", type="submit") }}
            </div>
        </div>
    </form>
{% endblock content %}